body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(168, 197, 149)
}

h1{
    margin-top: 200px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50px;
}

h3{
    color: white;
    background-color: brown;
    width: 50%;
    border-radius: 10px;
}